sudo: required
dist: xenial
language: python
# python:
#   - "2.7"
env:
  global:
    - PATH="/usr/bin:$PATH"

before_install:
  # setup Travis CI private key to interact with Digital Ocean
  - mkdir -p "~/.ssh"
  - touch "~/.ssh/id_rsa"
  - echo $TRAVIS_RSA > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
    # Ansible doesn't play well with virtualenv
  - deactivate
  - sudo apt-get update -qq
  - sudo apt-get install -y --allow-unauthenticated sshpass software-properties-common python-software-properties
    # software-properties-common for ubuntu 14.04
    # python-software-properties for ubuntu 12.04

install:
  - sudo pip install ansible
  - sudo pip install dopy
  - ansible --version
  - ansible-galaxy install -v -f -r tests/requirements.yml


script:
  - ansible-playbook -i tests/inventory-debian tests/playbook.yml --syntax-check
  - ansible-playbook -i tests/inventory-debian tests/playbook.yml --list-tasks
  - ansible-playbook -i tests/inventory-debian tests/playbook.yml
  - 'ansible-playbook -i tests/inventory-debian tests/playbook.yml | grep -q "changed=0.*failed=0" &&
    (echo "Idempotence test: pass" && exit 0) || (echo "Idempotence test: fail" && exit 1)'

after_script:
  # - ansible-playbook -i tests/inventory-debian tests/playbook_cleanup.yml --connection=local --become

# notifications:
#   webhooks: https://galaxy.ansible.com/api/v1/notifications/
