---

- import_tasks: verify_floating_ip_allowance.yml

- name: Create a new Floating IP associated to a Droplet
  uri:
    url: "{{ digital_ocean_api_base_url }}/floating_ips/"
    headers:
      Content-Type: 'application/json'
      Authorization: "Bearer {{digital_ocean_api_token}}"
    body_format: json
    body:
      droplet_id: "{{ digital_ocean_droplet_id }}"
    method: POST
    follow_redirects: all
    return_content: yes
    status_code: 200,201,202,422
  delegate_to: localhost
  register: do_floating_ip_create_new_json_response

- debug:
    msg: "{{ do_floating_ip_create_new_json_response.json.message}}"
  when: do_floating_ip_create_new_json_response.status == 422

- debug:
    msg: "The new Floating IP {{ do_floating_ip_create_new_json_response.json.floating_ip.ip }} has been assigned to the droplet {{ digital_ocean_droplet_id }}"
  when: do_floating_ip_create_new_json_response.status != 422

- set_fact:
    floating_ip_is_assigned_to_this_droplet: true
...
